<div class="row">
  <div class="col-md-4">
    <div class="row">
      <label>Description </label>
    </div>
    <div class="row">
      <input class="col-md-12" type="text" pInputText [(ngModel)]="offre.description">
    </div>
    <div class="row">
      <label>Domaine </label>
    </div>
    <div class="row">
      <input class="col-md-12" type="text" pInputText [(ngModel)]="offre.domaine">
    </div>
    <div class="row">
      <label>ville </label>
    </div>
    <div class="row">
      <input class="col-md-12" type="text" pInputText [(ngModel)]="offre.ville">
    </div>
    <div class="row">
      <label>Candidat </label>
    </div>
    <div class="row">
      <input class="col-md-12" type="text" pInputText [(ngModel)]="offre.candidat_id">
    </div>
    <div class="row">
      <label>Admin </label>
    </div>
    <div class="row">
      <input class="col-md-12" type="text" pInputText [(ngModel)]="offre.admin_id">
    </div>
    <p-button (click)="newOffre()">Submit</p-button>
  </div>
</div>
